.upload-image {
  margin-bottom: 15px;
  cursor: pointer;
}

.upload-text {
  margin-bottom: 3px;
}

.upload-heading {
  font-size: 25px;
  font-weight: 600;
}

.upload-sub {
  font-size: 18px;
  color: #808080;
}

.upload-limit {
  font-size: 16px;
  font-weight: 600;
  color: #369dd1;
}
